{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>AII - Acceso Inteligente a la Información</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>PRÁCTICA 5</h1>
						<p>
                            Uso del framework Django para el desarrollo de páginas webs<br>
                        </p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continuar</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">INICIO</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="/">Inicio</a></li>
                            <li><a href="/populate/">Popular</a></li>
							<li><a href="/users/">Usuarios</a></li>
                            <li><a href="/best_films/">Mejores Pelis</a></li>
                            <li><a href="/search_films/">Buscar Pelis</a></li>
                            <li><a href="/search_punctuations/">Buscar Pelis</a></li>
                            <li class="active"><a href="/search_category/">Categorías</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
                                    <h2>MUESTRA DE USUARIOS</h2>
                                    <p>
                                        <h3>Buscador por categoría</h3>
                                        <form method = "POST"> {% csrf_token %}
                                            <select name = "category_form" >
                                                {% for category in categories %}
                                                     <option  value="{{ category.id }}"> {{category.name}} </option>
                                                {% endfor %}
                                            </select>
                                            <input type="submit" value="Buscar">
                                        </form>
                                        {% if films %}
                                            <dl class="uk-description-list-line">
                                                {% for row in films %}
                                                    <dt>{{row.title}}</dt>
                                                    <dd>{{row.release_date}} | <a target="_blank" href="{{row.url}}">{{row.url}}</a></dd>
                                                    <dd> Categorias:
                                                    {% for cat in row.categories.all %}
                                                        {{cat.name}}
                                                    {% endfor %}
                                                    </dd>
                                                {% endfor %}
                                            </dl>
                                        {% endif %}
                                    </p>
								</header>
							</article>
                    </div>
				<!-- Copyright -->
                				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">INICIO</a>
					</header>
					<div id="copyright">
						<ul><li><a href="https://www.linkedin.com/in/%C3%A1lvaro-de-la-flor-bonilla-b56b5b144/" >Álvaro de la Flor Bonilla</a></li></ul>
                        <ul><li><a href="https://es.linkedin.com/in/carmen-fern%C3%A1ndez-benjumea-0912a0171/" >Carmen Fernández Benjumea</a></li></ul>
                        <ul><li><a href="https://www.linkedin.com/in/antonio-manuel-salvat-p%C3%A9rez-32533b136//" >Antonio Manuel Salvat Pérez</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %} "></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %} "></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %} "></script>
			<script src="{% static 'assets/js/browser.min.js' %} "></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %} "></script>
			<script src="{% static 'assets/js/util.js' %} "></script>
			<script src="{% static 'assets/js/main.js' %} "></script>
	</body>
</html>
