{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>AII - Acceso Inteligente a la Información</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>PRÁCTICA 5</h1>
						<p>
                            Uso del framework Django para el desarrollo de páginas webs<br>
                        </p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continuar</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">INICIO</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="/">Inicio</a></li>
                            <li><a href="/populate/">Popular</a></li>
							<li><a href="/users/">Usuarios</a></li>
                            <li><a href="/best_films/">Mejores Pelis</a></li>
                            <li><a href="/search_films/">Buscar Pelis</a></li>
                            <li class="active"><a href="/search_punctuations/">Buscar Puntuaciones</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
                                    <h2>MUESTRA DE USUARIOS</h2>
                                    <p>
                                        <h3>Buscador de valoraciones de usuario</h3>
                                        <form class="uk-form" id="formulario" method="post" action=''>{% csrf_token %}
                                            <fieldset>
                                                <legend>Busqueda de Usuarios</legend>
                                                <input type="text" name="idUsuario" id="id_idUsuario" placeholder="Id del Usuario"/>
                                                <br>
                                                <input class="uk-button" type='submit' value='Realizar Busqueda'/>
                                            </fieldset>
                                        </form>
                                        {% if puntuaciones %}
                                            <h3> Peliculas puntuadas por el usuario:  {{ puntuaciones|length }}</h3>
                                            <dl class="uk-description-list-line">

                                            {% for row in puntuaciones %}
                                                <dt>{{row.idPelicula.titulo}}</dt>
                                                <dd>Puntuacion: {{row.puntuacion}}/5</dd>
                                            {% endfor %}

                                            </dl>

                                        {% endif %}
                                    </p>
								</header>
							</article>
                    </div>
				<!-- Copyright -->
                				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">INICIO</a>
					</header>
					<div id="copyright">
						<ul><li>&copy; Balonmano Viso<br><br>Designed by <a 
href="https://www.linkedin.com/in/%C3%A1lvaro-de-la-flor-bonilla-b56b5b144/" >Álvaro de la Flor Bonilla</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %} "></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %} "></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %} "></script>
			<script src="{% static 'assets/js/browser.min.js' %} "></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %} "></script>
			<script src="{% static 'assets/js/util.js' %} "></script>
			<script src="{% static 'assets/js/main.js' %} "></script>
	</body>
</html>
